html, body {
    min-width: 600px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
}
input, button, textarea, :focus {
    outline: none;
}

.navbar, #app, body {
    overflow: hidden;
}

#mediaList{
    /*max-width: 1200px;*/
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    position: absolute;
    top: 51px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
}

.mediaItem{
    /*height: 250px;*/
    /*background-color: #d8d8d8;
    border: 3px;
    border-color: white;
    border-style: solid;*/
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.btn-xlg {
    font-size: 22px;
    border-radius: 6px;
}

.thumbnailCol {
    padding: 0px !important;
    border-radius: 0px !important; 
    background-color: #d8d8d8;
    border: 1px solid #fff !important;
}

.noOverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movieTitle {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.caption {
    position: absolute;
    bottom: 14px;
    text-align: center;
    background-color: rgba(37, 29, 29, 0.82);
    width: 100%;
    color: #fff !important;
}

.thumbnailCol .caption {
    padding: 3px;
    padding-left: 10px;
}

.thumbnail > img {
    width: 182px;
    height: 282px;
}

.imdbRating{
    position: absolute;
    background-color: #fafa62;
    border-radius: 15px;
    padding: 5px;
    margin: 3px;
}