html, body {
    max-width: 1200px;
    min-width: 600px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.mediaItem{
    height: 250px;
    background-color: #d8d8d8;
    border: 3px;
    border-color: white;
    border-style: solid;
    overflow: hidden;
}

.col-xs-15 {
    width: 20%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
